@import url('https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .overlay{
        @apply relative after:absolute after:inset-0 after:size-full after:bg-[rgba(0,0,0,0.3)] after:-z-0
    }
    .button{
        @apply py-2 px-3 bg-primary text-white font-bold disabled:bg-[#ccc]
    }
}
body{
    overflow-x: hidden;
}

button:focus-visible,a:focus-visible,select:focus-visible,input:focus-visible,textarea:focus-visible{
    outline:2px solid ;
    outline-offset: 5px;
}

@media(min-width:1280px){
    
    .has-submenu:hover > .submenu{
        display: block;
        opacity: 1;
        animation: fadeUp 0.5s ease forwards;
    }
}

